*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  height: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
  padding: 20px;
  gap: 20px;
  background-color: #1a1a1a;
  color: white;
  border-radius: 1rem;
}


#inputbox{
  width: 300px;
  padding: 5px 10px;
  outline: none;
  border: none;
    border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;


}
.copybtn{
  padding: 5px 10px;
  outline: none;
  border: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background-color: blue;
  color: white;
}
.copybtn:active{
    background-color:rgba(0, 0, 255, 0.683);
}
.handleInputs{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}